test_data
__pycache__
acgt_codec.py
chunk_cache
pm_io_allel.py
SNPGenie2_orchards.py
trash.txt
VCFclass.py
SNPGenie
Popoolation
npstat
dask-worker-space
cyvcf2-main
format.c
format.py
format.pyx
format.pxd
test_data/Mammalian
test_data/drosophilia
misc.note
.gitignore
pimaker-env
misc.txt
