test_data
__pycache__
acgt_codec.py
chunk_cache
pm_io_allel.py
SNPGenie2_orchards.py
trash.txt
VCFclass.py
SNPGenie
Popoolation
npstat
dask-worker-space
cyvcf2-main
format.c
format.py
format.pyx
format.pxd
test_data/Mammalian
test_data/drosophilia
misc.note
.gitignore
pimaker-env
misc.txt
.fasta
A_Singapore_INFIMH-16-0019_2016_HA.fasta
A_Singapore_INFIMH-16-0019_2016_MP.fasta
A_Singapore_INFIMH-16-0019_2016_NA.fasta
A_Singapore_INFIMH-16-0019_2016_NP.fasta
A_Singapore_INFIMH-16-0019_2016_NS.fasta
A_Singapore_INFIMH-16-0019_2016_PA.fasta
A_Singapore_INFIMH-16-0019_2016_PB1.fasta
A_Singapore_INFIMH-16-0019_2016_PB2.fasta
chr3.gtf
Picture1.svg
results_A_Singapore_INFIMH-16-0019_2016_HA_sites.csv
results_A_Singapore_INFIMH-16-0019_2016_HA_summary_statistics.csv.gz
results_A_Singapore_INFIMH-16-0019_2016_MP_sites.csv
results_A_Singapore_INFIMH-16-0019_2016_MP_summary_statistics.csv.gz
results_A_Singapore_INFIMH-16-0019_2016_NA_sites.csv
results_A_Singapore_INFIMH-16-0019_2016_NA_summary_statistics.csv.gz
results_A_Singapore_INFIMH-16-0019_2016_NP_sites.csv
results_A_Singapore_INFIMH-16-0019_2016_NP_summary_statistics.csv.gz
results_A_Singapore_INFIMH-16-0019_2016_NS_sites.csv
results_A_Singapore_INFIMH-16-0019_2016_NS_summary_statistics.csv.gz
results_A_Singapore_INFIMH-16-0019_2016_PA_sites.csv
results_A_Singapore_INFIMH-16-0019_2016_PA_summary_statistics.csv.gz
results_A_Singapore_INFIMH-16-0019_2016_PB1_sites.csv
results_A_Singapore_INFIMH-16-0019_2016_PB1_summary_statistics.csv.gz
results_A_Singapore_INFIMH-16-0019_2016_PB2_sites.csv
results_A_Singapore_INFIMH-16-0019_2016_PB2_summary_statistics.csv.gz
qrcode.png
results_genes.csv
results_samples.csv
small_genome_pimaker.py
ST
toy_fasta.fasta
toy_gtf.gtf
toy_vcf.vcf
small_genome_pimaker.py
FST_formula.svg
benchmarks.txt
ST
toy_vcf.tsv
.gitignore
old_pimaker.py
benchmarks.txt
docstrings.py
note.py
run_snpgenie.sh
small_genome_pimaker.py
tests.py
.Rproj.user
benchmark.sh
benchmarks.tsv
log.txt
PiMaker.Rproj
pinpis.snp
TCGA.LUAD.mutect.0458c57f-316c-4a7c-9294-ccd11c97c2f9.DR-10.0.somatic.maf.gz
test_parameters.txt
test.syn_nonsyn.txt
test.syn_nonsyn.txt.params
two_samples.vcf.gz
two_samples.vcf.gz.csi
.vscode/settings.json
popoolation1/*
popoolation_1/*
test/*

